In [2]:
import numpy
import sklearn
import pandas
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
df = pandas.DataFrame(boston['data'], columns=boston['feature_names'])

In [21]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,newFeature
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,72.371638
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,48.720581
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,48.720581
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,36.620369
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.620369

In [17]:
df.loc[df['AGE'] > 98.8, 'AGE'] = 1000

8      1000.0
23     1000.0
31     1000.0
130    1000.0
141    1000.0
142    1000.0
143    1000.0
145    1000.0
146    1000.0
151    1000.0
158    1000.0
159    1000.0
209    1000.0
258    1000.0
259    1000.0
367    1000.0
368    1000.0
371    1000.0
373    1000.0
374    1000.0
379    1000.0
381    1000.0
382    1000.0
383    1000.0
386    1000.0
388    1000.0
389    1000.0
397    1000.0
398    1000.0
400    1000.0
401    1000.0
402    1000.0
405    1000.0
406    1000.0
407    1000.0
409    1000.0
410    1000.0
411    1000.0
412    1000.0
413    1000.0
414    1000.0
415    1000.0
418    1000.0
420    1000.0
437    1000.0
442    1000.0
443    1000.0
453    1000.0
Name: AGE, dtype: float64

In [18]:
df['newFeature'] = df['INDUS'] / df['RM']

In [20]:
df['newFeature'] = df['TAX'] / df['DIS']